name: videodownload
description: Temiz YouTube Indirici
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  youtube_explode_dart: ^2.2.2  
  dio: ^5.4.0                   
  path_provider: ^2.1.1         
  permission_handler: ^11.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  
